/* Global Styles */
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  margin-top: 50px;
}

#calculate-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

#result {
  margin-top: 50px;
  font-size: 20px;
}

#point {
  font-weight: bold;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode #calculate-button {
  background-color: white;
  color: black;
}

.dark-mode #result {
  background-color: #222;
  color: white;
}

.dark-mode #point {
  font-weight: bold;
}
